*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    line-height: 20px;
    font-size: 18px;
    font-family: 'Lobster', cursive;
    text-align: center;
}

body{
    width:100vw;
    height: 100vh;
    background-image: linear-gradient(160deg, rgba(211, 149, 155, 0.7), rgba(103, 155, 96, 0.7)), url(img/background.jpg);
    display: flex;
    justify-content: center; 
    align-items: center;
    
}

.container{
    display: none;
    width:900px;
    min-height: 500px;
    background-color: white;
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.4);
    position: relative;
}

.name{ 
    font-size:21px;
    letter-spacing: 2px;
    
}
.player{
    position: absolute;
    width:50%;
    height:100%;
    filter: opacity(.5);
    color:gray;
}

.player-2{
    right:0;
    
}

.winner{
    filter: saturate(8);
}

.active{
    background-color: #e8eae5;
    color:black;
    filter: opacity(1);
}

.game-panel{
    display:flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.panel-box{
    position:absolute;
    z-index:100;
    display: inline-flex;
    padding:4px;
    border-radius:5px;
    cursor:pointer;
    transition: all .3s;
    padding-right:10px;
}

.panel-box:hover{
    
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
    background-color: white;
}

.panel-box:active{
    transform: translateY(3px);
}
.new-game--box{
    top:50px;
}

.dice{
    position:absolute;
    z-index: 100;
    top:180px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
}

.roll-dice{
    bottom:100px;
}

.hold{
    bottom: 50px;
}



.icon{
    height:20px;
    width:40px;
    fill: #b20e56;
}

.main-box{
    display:flex;
    justify-content: center; 
 }
.main-box--info{
    position:absolute;
    display: inline-flex; 
    top:120px;
}

.main-box--result{
    position: absolute;
    top:190px;
    font-size: 100px;
    color:#b20e56;
}

.current-box{
    display:flex;
    justify-content: center; 

}

.current-box--info{
    position: absolute;
    bottom: 100px;
    padding: 10px;
    border-radius: 5px;
    background-color: #ce256f;
}

.current-result{
    margin-top:10px;
        color:white;
}



.overlay--header{
    letter-spacing: 4px;
    font-size: 40px;
    line-height: 35px;
    color:#b20e56;
    transition: all .3s;

}
.overlay--header:hover{
    transform: scale(1.1);
}

.overlay--instructions{
    line-height: 30px;
    letter-spacing: 2px;
    font-size: 20px;
    margin:50px 130px;
    
    
}
.input--instructions{
    line-height: 30px;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 20px;
    
}


input{
    padding: 15px 4px;
}

input:focus{
    outline: 0;
    border: 1px solid #ce256f;
}

.overlay--name{
    display:inline-block;
}

.overlay--score{
    margin-top:30px;
    
}
.game-btn{
    outline:none;
    font-size: 30px;
    background-color: green;
    padding: 6px 10px;
    border:3px solid darkgreen;
    border-radius: 10px;
    transition: all .2s;
    margin-top:35px;
}

.game-btn:hover{
    background-color: forestgreen;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);

}

.game-btn:active{
    background-color: forestgreen;
    transform: translateY(3px);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);

}

